<% content_for :title do %>simple algorithms<% end %>
<p>Hi.</p>

<p>This is a place to find information about some of the more fundamental algorithms used in computer science. This information is widely available on the net, but hopefully the way it's presented and discussed here will resonate with you.</p>

<p>Most of these are things you wouldn't need to write yourself. Modern libraries and languages tend to have quality implementations for all of this. Nonetheless, I truly believe that understanding how things work is key to improving how we work.</p>

<p>The source code for this site is available on <a href="https://github.com/karlseguin/Algorithms">github</a>.</p>

<p>Enjoy.</p>

<div id="nav">
  <a href="/search/linear" id="next">linear search &raquo;</a>
</div>