<% content_for :title do %>Quick Sort<% end %>

<h1>Quick Sort</h1>
<p>Quick sort is a efficient sorting algorithm which works by dividing a collection into smaller and smaller partitions which become increasingly sorted. The approach is to take a single element (called the pivot) and make it so that all values before the pivot are smaller, and all elements after the pivot are larger. This places the pivot at its final position. The step is repeated for the two parts of the collection (before the pivot and after), and then again for the 4 quarters (based on the 2 pivots sorted in the previous iteration), and so on until the collection is sorted.</p>

<h2>Implementation</h2>
<pre id="code1">
function partition(values, start, end) {
  <span class="line">var value = values[start] ;</span>
  <span class="line">swap(values, start, end);</span>
  <span class="line">for (var i = start; i &lt; end; ++i)</span> {
    <span class="line">if (values[i] &lt;= value)</span> { <span class="line">swap(values, start++, i);</span> }
  }
  <span class="line">swap(values, end, start);</span>
  <span class="line">return start;</span>
};
function swap(values, i, j) {
  if (i == j) { return; }
  var temp = values[i]; values[i] = values[j]; values[j] = temp;
};

function quickSort(values, start, end){
  <span class="line">if (start &lt; end ) {</span>
    <span class="line">var pivot = partition(values, start, end);</span>
    <span class="line">quickSort(values, start, pivot);</span>
    <span class="line">quickSort(values, pivot+1, end);</span>
  }
};
function sort(values) {
  <span class="line">quickSort(values, 0, values.length-1);</span>
};
<span class="line">sort([7, 4, 5, 2, 9, 1]);</span>
<span class="line">//finished</span>
</pre>

<h2>Example</h2>
<p>Click <em>step</em> to sort the array.</p>
<div id="example1">
  <div class="nodeList">
    <div>7</div>
    <div>4</div>
    <div>5</div>
    <div>2</div>
    <div>9</div>
    <div>1</div>
  </div>
  <div class="step">step</div>
</div>

<h2>Characteristics</h2>


<h2>In The Real World</h2>

<div id="nav">
  <a href="/sort/insertionsort" id="prev">&laquo; insertion sort</a>
  <a href="/" id="next">home &raquo;</a>
</div>
  
<%= erb :disqus, :locals => {:identifier => '/algo/quicksort'}%>

<script type="text/javascript">
$(document).ready(function()
{
  var $code1 = $('#code1').code({});
  $('#example1').example({
    code: $code1, 
    instructions: instructions.quickSort,
    init: instructions.quickSortInit
  });
});
</script>